libId = ddGetObj("tsmc18")
libPath = ddGetObjReadPath( libId )
pcfPath = strcat(libPath "/../models/spectre")
corAddProcess( "tsmc18" pcfPath  "multipleModelLib" )

corAddModelFileAndSectionChoices( "tsmc18" "cor_std_mos.scs" '("ff" "fs" "sf" "ss" "tt" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_3v.scs" '("ff_3v" "fs_3v" "sf_3v" "ss_3v" "tt_3v" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_m.scs" '("ff_m" "fs_m" "sf_m" "ss_m" "tt_m" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_3m.scs" '("ff_3m" "fs_3m" "sf_3m" "ss_3m" "tt_3m" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_na.scs" '("ff_na" "fs_na" "sf_na" "ss_na" "tt_na" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_3vna.scs" '("ff_3vna" "fs_3vna" "sf_3vna" "ss_3vna" "tt_3vna" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_bip.scs" '("ff_bip" "ss_bip" "tt_bip" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_bip3.scs" '("ff_bip3" "ss_bip3" "tt_bip3" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_dio.scs" '("ff_dio" "ss_dio" "tt_dio" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_dio3.scs" '("ff_dio3" "ss_dio3" "tt_dio3" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_dio_m.scs" '("ff_dio_m" "ss_dio_m" "tt_dio_m" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_dio_3m.scs" '("ff_dio_3m" "ss_dio_3m" "tt_dio_3m" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_dio_dnw.scs" '("ff_dio_dnw" "ss_dio_dnw" "tt_dio_dnw" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_res.scs" '("ff_res" "ss_res" "tt_res" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_disres.scs" '("ff_disres" "ss_disres" "tt_disres" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_bbmvar.scs" '("ff_bbmvar" "ss_bbmvar" "tt_bbmvar" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_mim.scs" '("ff_mim" "ss_mim" "tt_mim" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_rtmom.scs" '("ff_rtmom" "ss_rtmom" "tt_rtmom" ) )
corAddModelFileAndSectionChoices( "tsmc18" "cor_fmom.scs" '("ff_fmom" "ss_fmom" "tt_fmom" ) )


corAddCorner( "tsmc18" "typ" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_std_mos.scs" "tt" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_3v.scs" "tt_3v" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_m.scs" "tt_m" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_3m.scs" "tt_3m" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_na.scs" "tt_na" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_3vna.scs" "tt_3vna" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_bip.scs" "tt_bip" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_bip3.scs" "tt_bip3" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_dio.scs" "tt_dio" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_dio3.scs" "tt_dio3" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_dio_m.scs" "tt_dio_m" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_dio_3m.scs" "tt_dio_3m" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_dio_dnw.scs" "tt_dio_dnw" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_res.scs" "tt_res" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_disres.scs" "tt_disres" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_bbmvar.scs" "tt_bbmvar" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_mim.scs" "tt_mim" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_rtmom.scs" "tt_rtmom" )
corSetCornerGroupVariant( "tsmc18" "typ" "cor_fmom.scs" "tt_fmom" )
corSetCornerRunTempVal( "tsmc18" "typ" 25 )


corAddCorner( "tsmc18" "fast_best" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_std_mos.scs" "ff" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_3v.scs" "ff_3v" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_m.scs" "ff_m" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_3m.scs" "ff_3m" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_na.scs" "ff_na" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_3vna.scs" "ff_3vna" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_bip.scs" "ff_bip" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_bip3.scs" "ff_bip3" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_dio.scs" "ff_dio" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_dio3.scs" "ff_dio3" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_dio_m.scs" "ff_dio_m" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_dio_3m.scs" "ff_dio_3m" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_dio_dnw.scs" "ff_dio_dnw" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_res.scs" "ff_res" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_disres.scs" "ff_disres" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_bbmvar.scs" "ff_bbmvar" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_mim.scs" "ff_mim" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_rtmom.scs" "ff_rtmom" )
corSetCornerGroupVariant( "tsmc18" "fast_best" "cor_fmom.scs" "ff_fmom" )
corSetCornerRunTempVal( "tsmc18" "fast_best" -25 )


corAddCorner( "tsmc18" "slow_worst" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_std_mos.scs" "ss" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_3v.scs" "ss_3v" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_m.scs" "ss_m" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_3m.scs" "ss_3m" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_na.scs" "ss_na" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_3vna.scs" "ss_3vna" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_bip.scs" "ss_bip" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_bip3.scs" "ss_bip3" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_dio.scs" "ss_dio" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_dio3.scs" "ss_dio3" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_dio_m.scs" "ss_dio_m" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_dio_3m.scs" "ss_dio_3m" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_dio_dnw.scs" "ss_dio_dnw" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_res.scs" "ss_res" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_disres.scs" "ss_disres" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_bbmvar.scs" "ss_bbmvar" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_mim.scs" "ss_mim" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_rtmom.scs" "ss_rtmom" )
corSetCornerGroupVariant( "tsmc18" "slow_worst" "cor_fmom.scs" "ss_fmom" )
corSetCornerRunTempVal( "tsmc18" "slow_worst" 75 )
