*
* Techgen(tm) Tech file Generator.
* FullVersion        : 9.1.4-p006
* BuildNumber        : 573229 
* IRBuildNumber      : 12576 
* VersionDate        : Tue Oct 12 12:29:13 PDT 2010
* Bitness            : 32-bit
* 
*
process cm018g_1p5m_3x1n_mim4_tfr_typical
*
*| temp_reference 25
*
deposition
*step #  material   p/n                 name        thick    diel.   side     bot     angle
step  1  substrate                     field       0.4  3.9
step  1  substrate                    active       0.05  3.9
step  2  metal                          poly       0.2  -0.01  
step  3  dielectric p                  ILD_C       0  4
step  4  dielectric p                  ILD_B       0.5  4
step  5  metal                        metal1       0.53  0  
step  6  dielectric p                 IMD1a1       0.1  3.7
step  7  metal                           tfr       0.004  0  
step  8  dielectric p                 IMD1a2       0.546  3.7
step  9  dielectric p                  IMD1b       0.2  4.2
step 10  metal                        metal2       0.53  0  
step 11  dielectric p                  IMD2a       0.65  3.7
step 12  dielectric p                  IMD2b       0.2  4.2
step 13  metal                        metal3       0.53  0  
step 14  dielectric p                  IMD3a       0.65  3.7
step 15  dielectric p                  IMD3b       0.2  4.2
step 16  metal                        metal4       0.53  0  
step 17  dielectric p                  IMD4a       0.028  3.7
step 18  metal                           ctm       0.19  0  
step 19  dielectric p                 IMD4a2       0.432  3.7
step 20  dielectric p                  IMD4b       0.35  4.2
step 21  metal                        metal5       0.99  0  
step 22  dielectric p                 PASS1a       0  4.2
step 23  dielectric p                  PASS1       1  4.2
step 24  dielectric p                  PASS2       0.15  4.2
step 25  dielectric p                  PASS3       0.6  7.9
step 26  dielectric p                    air       40  1
enddeposition

metal_variations auto_comb
layer poly w  0.18 
layer poly s  0.25 
layer metal1 w  0.23 
layer metal1 s  0.23 
layer tfr w  1 
layer tfr s  0.4 
layer metal2 w  0.28 
layer metal2 s  0.28 
layer metal3 w  0.28 
layer metal3 s  0.28 
layer metal4 w  0.28 
layer metal4 s  0.28 
layer ctm w  4 
layer ctm s  1.2 
layer metal5 w  0.44 
layer metal5 s  0.46 
endmetal_variations

endprocess

